body {
    background-color: silver;
}

.container {
    display: flex;
    font-family: 'Marmelad', sans-serif;
    background-color: teal;
    height: 100vh;
    align-content: center; 
    flex-direction: column;
    margin: 5vh;
}

.headline {
    font-size: 60px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: silver;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;

}

.playbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rosybrown;
    margin: 0 auto;
   
    
   
}

.letterbox {
    
    font-size: 40px;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid black;
    

}

.answerbox {
    flex-wrap: wrap;
  
  
    margin: 0 auto;
    
}

.answer-input {
    height: 40px;
    font-size: 30px;
    
        border-radius: 25px;
        border: 2px solid black;
        padding: 20px; 
        width: 300px;
        height: 15px;    
        margin: zero auto;
        

}

.answer-input:focus {
    outline: none;
}

.scorebox {
    
    
    height: 20vh;
    color: rosybrown;
   
    
}


.feedback {
    margin-top: 30px;
    height: 10vh;
    transition-duration: 1s;
    color: rosybrown;
}

p  {
    font-size: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    margin: 0 auto;
}


    